<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Home Page</title>
</head>

<body>
  {{{body}}}
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script>
    $(document).ready(function() {
        var token = window.localStorage.getItem("token");
        if(token) {
            axios({
                url: "/api/protect",
                headers: {
                    "Authorization": "Bearer " + token
                }
            })
            .then(function(resp) {
                console.log(resp)
            })
            .catch(function(err) {
                console.error(err);
            })
        }
        $("#submit-login").on("click", function(e) {
          e.preventDefault();
            axios.post("/auth/login", {
                email: $("#email").val(),
                password: $("#password").val(),
            })
            .then(function(resp) {
                console.log(resp)
                window.localStorage.setItem("token", resp.data.token)
                //window.location.assign("/login");
            })
            .catch(function(err) {
                console.error(err);
            })
        })
        $("#submit").on("click", function(e) {
            e.preventDefault();
            axios.post("/auth/register", {
                email: $("#email").val(),
                password: $("#password").val(),
                name: $("#name").val(),
            })
            .then(function(resp) {
                console.log(resp)
                window.location.assign("/login");
            })
            .catch(function(err) {
                console.error(err);
            })
        })
    })
</script>
</body>

</html>
