<<<<<<< HEAD
<div class="background-image-datapage">
=======
<div class="background-image">
>>>>>>> 589222296771dc7db1fe94e2bb3385f7be8a19dc
    <div>
        wow great.
        <div id="user-info">

        </div>
    </div>
</div>

<script>
    function getHouseBills() {
        var houseBills = [];
        $.ajax({
            url: "api/house",
            method: "GET"
        }).then(function (response) {
            for (var i = 0; i < response.length; i++) {
                console.log(response[i]);
                houseBills.push(response[i]);

            }
            return houseBills;
        })
            .catch(function (err) {
                if (err) throw err;
            })
    }

    function getSenateBills() {
        var senateBills = [];
        $.ajax({
            url: "api/senate",
            method: "GET"
        }).then(function (response) {
            for (var i = 0; i < response.length; i++) {
                senateBills.push(response[i]);
                console.log(senateBills[i]);
            }
            console.log(`senatebills: ${senateBills}`);
            return senateBills;
        })
            .catch(function (err) {
                if (err) throw err;
            })
    }

    getHouseBills();
    getSenateBills();
</script>