    <div class="container">
        <div class="jumbotron" id="cards">
            <img src="/images/congress.png" width="100%">
            {{!-- <img src="https://www.rti.org/sites/default/files/styles/rti_banner_1250/public/page-hero-images/istock_000026946270_us_capitol_flag_2500.jpg?itok=J5Rt5egN" height="150px" width="100%"> --}}
        </div>

    </div>
</div>



<script>
    function getHouseBills() {
        $.ajax({
            url: "api/house",
            method: "GET"
        }).then(function (response) {
            $.each(response, function (i, bill) {
                console.log("ajax hitting");
                var cardTemplate = `
            <div class="card" id=card${i}>
                <div class="card-body">
                    <h4 class="card-title">Bill Number: ${bill.bill_number}</h4>
                    <p class="card-text">Chamber: ${bill.chamber.toUpperCase()}</p>
                    <p class="card-text">Description: ${bill.description}</p>
                    <a href="${bill.bill_url}" class="btn btn-primary">View PDF </a>
                </div>
            </div>`
                if (bill.chamber !== undefined) {
                    $("#cards").append(cardTemplate);
                }
            })
        })
            .catch(function (err) {
                if (err) throw err;
            })
    }

    function getSenateBills() {
        $.ajax({
            url: "api/senate",
            method: "GET"
        }).then(function (response) {
            $.each(response, function (i, bill) {
                console.log("ajax hitting");
                var cardTemplate = `
            <div class="card" id=card${i}>
                <div class="card-body">
                    <h4 class="card-title">Bill Number: ${bill.bill_number}</h4>
                    <p class="card-text">Chamber: ${bill.chamber.toUpperCase()}</p>
                    <p class="card-text">Description: ${bill.description}</p>
                    <a href="${bill.bill_url}" class="btn btn-primary">View PDF</a>
                </div>
            </div>`
                if (bill.chamber !== undefined) {
                    $("#cards").append(cardTemplate);
                }
            })
        })
            .catch(function (err) {
                if (err) throw err;
            })
    }



    getHouseBills();
    getSenateBills();
</script>