<div>
    <form>
        <label>Email</label>
        <input id ="email" type = "email">
        <label>Password</label>
        <input id ="password" type = "password">
        <button id = "submit-login">Submit</button>
    </form>
</div>
