<div class="row m-3 m-sm-5">
    <div class="col-sm-12 col-md-9 mx-auto">
        <div class="card rounded-0">
            <h4 class="mx-auto my-3">Register</h4>
        </div>
        <div class="card p-3 rounded-0 border-top-0">
            <form>
                <div class="form-row">
                    <div class="form-group col-12 col-sm-6">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" id="firstName" placeholder="First Name">
                    </div>
                    <div class="form-group col-12 col-sm-6">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" id="lastName" placeholder="Last Name">
                    </div>

                    <div class="form-group col-12 col-sm-12">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Email">
                    </div>
                    <div class="form-group col-12 col-sm-6">
                        <label for="password1">Password</label>
                        <input type="password" class="form-control" id="password1" placeholder="Password">
                    </div>
                    <div class="form-group col-12 col-sm-6">
                        <label for="password1">Re-Enter Password</label>
                        <input type="password" class="form-control" id="password2" placeholder="Re-Enter Password">
                    </div>

                    <div class="form-group col-12 col-sm-12">
                        <label for="address">Address</label>
                        <input type="text" class="form-control" id="address1" placeholder="1234 Main St">
                    </div>
                    <div class="form-group col-12 col-sm-12">
                        <label for="address2">Address 2</label>
                        <input type="text" class="form-control" id="address2" placeholder="Apartment, studio, or floor">
                    </div>
                    
                        <div class="form-group col-12 col-sm-6">
                            <label for="city">City</label>
                            <input type="text" class="form-control" id="city" placeholder="City">
                        </div>
                        <div class="form-group col-12 col-sm-4">
                            <label for="state">State</label>
                            <select id="state" class="form-control">
                                <option selected>Choose...</option>
                            </select>
                        </div>
                        <div class="form-group col-12 col-sm-2">
                            <label for="zip">Zip</label>
                            <input type="text" class="form-control" id="zip" placeholder="Zip Code">
                        </div>
                    
                </div>
                <div class="form-row">
                    <button id="submit" type="submit" class="btn btn-primary btn-block my-3 mx-auto">Register</button>
                </div>
                <div class="form-row">
                    <p class="mx-auto">Already have an account?</p>
                    
                </div>
                <div class="form-row">
                    <p class="mx-auto"><a href="/login"> Sign In Here</a></p>
                </div>


            </form>
        </div>
    </div>
</div>
<script>
    var states = [
        "AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DE", "FL", "GA",
        "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD",
        "MA", "MI", "MN" ,"MS", "MO", "MT", "NE", "NV", "NH", "NJ",
        "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC",
        "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY" 
    ];
    states.forEach(state=>{
        var option = `<option>${state}</option>`;
        $("#state").append(option);
    });
</script>